.navigation {
    background-color: rgb(231, 224, 224);
}

.navigation > ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

.navigation > ul > li {
    background-color: rgb(219, 216, 208) ;
    padding:10px;
    margin-left:10px;
    text-transform: uppercase;
    border:2px solid gray
}

.navigation > ul > li:hover{
   border: 2px solid black;
}